<div class="">
  <div class="grid grid-cols-1 gap-3">
    <div class="flex gap-x-3">
      <%= button_to "#{image_tag('logo-google.svg', class:'w-5 h-5 align-middle inline-block mr-2')} Continue with Google".html_safe, user_google_oauth2_omniauth_authorize_path, class: "font-medium inline-flex justify-center w-full items-center px-3 py-3 bg-white rounded-lg shadow-sm text-gray-900 ring-1 ring-inset ring-gray-200 hover:bg-gray-50 focus:outline-offset-0", method: :post, "data-turbo": false, form_class: "inline" %>

      <%= button_to "#{image_tag('logo-github.svg', class:'w-5 h-5 align-middle inline-block mr-2')} Continue with GitHub".html_safe, user_github_omniauth_authorize_path, class: "font-medium inline-flex justify-center w-full items-center px-3 py-3 bg-white rounded-lg shadow-sm text-gray-900 ring-1 ring-inset ring-gray-200 hover:bg-gray-50 focus:outline-offset-0", method: :post, "data-turbo": false, form_class: "inline" %>
    </div>
    <div class="text-xs leading-4 text-center text-gray-400">
      By signing up, you acknowledge that you have read, understood, and agree to Synth's <a href="https://synth.finance/terms" class="text-caribbean-green-500">Terms & Conditions</a> and <a href="https://synth.finance/privacy" class="text-caribbean-green-500">Privacy Policy</a>.
    </div>
  </div>
</div>